@use '../../constants' as const;
@import  '../../constants.scss';

// size
$weather-page-center: auto;
$weather-page-top-space: 70px;
$weather-page-new-plain: relative;
$weather-page-component-size: 100vh;
$weather-page-width-size: 50%;


.style {
      display: flex;
      margin: $weather-page-center; 
      margin-bottom: 1rem;
      position: $weather-page-new-plain;
      height: 10%;
      width: 18rem;
};

.titleWeather{
      display: flex;
      width: 4rem;
}
.weatherBox{
      // @include layout_designer;
      display: flex;
   
}
.weathericon{

      height: 2rem;
}
.weathertext{
      @include font-small-default;
      padding-top: 0.5rem;
}