// colors
$default-bg-color: #008B8B;
$default-bg-gradient : ( to right bottom, #F8F8FF, #F5FFFA );
$default-bg-boxes-color: #F8F8FF;
// $default-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
$default-shadow: .01rem .01rem .01rem .01rem  #2F4F4F;
$default-text-color: #000000;

// padding 
$box-padding : 16px;
$box-radius : 4px;
$box-margin-top-bottom: 5px;

//font
$default-font : Arial, sans-serif;


@mixin layout_designer{
	border-color: black;
	// border: 0.03rem solid;
}
