@use '../../constants' as const;
@import  '../../constants.scss';
@import "react-slideshow-image/dist/styles.css";

.main{
	@include layout_designer;
	margin: auto;
	justify-content: center;
	text-align:	center;
	height: 60%;
}