@use '../../constants' as const;
@import  '../../constants.scss';


.main{
	@include layout_designer;
	margin: auto;
	justify-content: center;
	text-align:	center;
}

.photo{
	height: 300px;
	width: 500px;
}