@use '../../constants' as const;
@import  '../../constants.scss';
// @mixin layout_designer{
// 	border-color: black;
// 	border: 0.03rem solid;
// }

.Seperator{
	@include layout_designer;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	font-family: const.$default-font;
	width: 100%;
}

// justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly

.NavBar{
	justify-content: flex-end;
	display: flex;
	flex-wrap: nowrap;
	background-color: transparent;
	font-family: const.$default-font; 
}

.NavBar2{
	// text-align: right;
	// justify-content: flex-end;
	// display: flex;
	// flex-wrap: nowrap;
	// @include layout_designer;
	color: gray;
	word-spacing: initial;
	padding-right: 1rem;
	background-color: transparent;
	border-color: transparent;
	font-family: const.$default-font; 
	// justify-content: flex-end;
	// flex-wrap: wrap;
	// align-items: 3rem;
}
.NavBar>button:hover{
	color: blue;
}
// .NavBar>div{
// 	background-color: #f1f1f1;
//   	width: 100px;
//   	margin: 10px;
//   	text-align: center;
//   	line-height: 75px;
//   	font-size: 30px;

// }

// route page area

.RoutePage{
	// @include layout_designer;
	margin: auto;
}